:root {
    --primary: #1f92d3;
    --accent: #ffeb3b;
    --fafa_grey: #fafafa;
    --primary_dark: #0492D3;
    /* primaryRGB: rgba(31, 146, 211, 0.5) 
        AccentRGB:rgba(255, 235, 59, 0.5)
    */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background: var(--accent); */
    /* background: #edebe9 linear-gradient(to bottom, #dbd7d1, #edebe9 116px) no-repeat; */
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    font-family: 'Nunito', sans-serif;
    min-width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

main .logo {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    margin: 1rem;
    align-items: center;
    justify-content: center;
}

main .logo img {
    width: 5rem;
    height: 5rem;
    border-radius: 0.2rem;
}

main .logo h2 {
    color: var(--primary);
}

hr {
    margin-top: 1rem;
    height: 1px;
    width: 100%;
    background: white;
    border: none;
}

.dashboard {
    color: white;
    border-radius: 4px;
    background: white;
    min-height: 80vh;
    width: 100%;
    display: flex;
    box-shadow: 6px 6px 10px rgba(122, 122, 122, 0.6), -2px -2px 10px rgba(122, 122, 122, 0.6);
    min-width: 81vh;
    margin: 3rem;
}

.dashboard .sidebar {
    border-radius: 4px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    background: linear-gradient(to top, var(--primary), #1f91d3ce 116px) no-repeat;
    padding: 3rem 1rem;
}

.dashboard .sidebar .user h3 {
    font-weight: 800;
}

.dashboard .sidebar .user img {
    width: 5rem;
    height: 5rem;
}

.dashboard .sidebar .user h3:hover {
    text-decoration: underline;
}

.dashboard .links .link {
    border-radius: 0.3rem;
    align-items: center;
    padding: 0.3rem 1rem;
    display: flex;
    justify-content: space-evenly;
    margin: 1rem 0rem;
    transition-delay: 0s;
}

.dashboard .links .link:hover {
    background: var(--accent);
    border-radius: 0.3rem;
    color: var(--primary);
    transition-delay: 200ms;
}

.dashboard .links .link h4 {
    padding: 0.5rem;
}


/*CONTENT*/

h1 {
    font-weight: 800;
    font-size: 30px;
    padding: 1.5rem;
}

.dashboard .dashboard-content {
    color: var(--primary);
    display: flex;
    flex: 3;
    flex-direction: column;
    background: var(--accent);
    max-width: 30rem;
    /**/
}

.dashboard .dashboard-content .list-quizzes {
    display: flex;
    width: 100%;
    margin-right: 8rem;
}

.dashboard .dashboard-content .content-quizzes h3 {
    margin-top: 3rem;
    color: var(--accent);
    font-weight: 800;
    font-size: 26px;
    margin: 0rem 1.5rem;
    margin-top: 2rem;
}

.dashboard .dashboard-content .list-quizzes .quiz {
    margin: 1rem 0.5rem;
    border-radius: 0.4rem;
    background-color: white;
    box-shadow: 4px 4px 5px rgba(122, 122, 122, 0.6);
    width: 12rem;
}

.dashboard .dashboard-content .list-quizzes .quiz:hover {
    transform: translateY(-5px) scale(1.04) translateZ(0);
    box-shadow: 6px 6px 8px rgba(122, 122, 122, 0.5);
}

.dashboard .dashboard-content .list-quizzes .quiz .graphic {
    border-radius: 0.4rem;
    display: flex;
}

.dashboard .dashboard-content .list-quizzes .quiz img {
    width: 100%;
    border-radius: 0;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    height: 50%;
    padding: 0;
}

.dashboard .dashboard-content .list-quizzes .quiz .quiz-info {
    padding: 0.6rem;
}

.dashboard .dashboard-content ul {
    list-style-type: none;
    white-space: nowrap;
    overflow-x: auto;
}

li {
    display: inline;
}


/*NEW QUIZ*/

input[type="text"],
[type="datetime-local"] {
    font-family: 'Nunito', sans-serif;
    margin: 0.4rem 0rem;
    outline: none;
    width: 50%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--primary_dark);
}

label {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

input[type="datetime-local"] {
    padding: 0.5rem 0.1rem;
}

input [type="text"],
[type="datetime-local"]:hover {
    box-shadow: 3px 3px 5px rgba(122, 122, 122, 0.5);
    transform: translateY(-1px) scale(1.0001) translateZ(0);
}

textarea {
    margin: 0.4rem 0rem;
    font-family: 'Nunito', sans-serif;
    width: 50%;
    height: 2rem;
    padding: 0.5rem;
    outline: none;
    border-radius: 0.5rem;
    min-width: 50%;
    max-height: 5rem;
    border: 1px solid var(--primary_dark);
}

textarea:hover {
    box-shadow: 3px 3px 5px rgba(122, 122, 122, 0.5);
    transform: translateY(-1px) scale(1.0001) translateZ(0);
}

select {
    outline: none;
    font-family: 'Nunito', sans-serif;
    margin: 0.4rem 0rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--primary_dark);
    margin-right: 1rem;
}

select:hover {
    box-shadow: 3px 3px 5px rgba(122, 122, 122, 0.5);
    transform: translateY(-1px) scale(1.0001) translateZ(0);
}

.dashboard .dashboard-content .new-quiz-form {
    padding: 1rem;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.dashboard .dashboard-content .new-quiz-form .new-quiz-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}


/* .dashboard .dashboard-content .new-quiz-form .content-questions  {
    margin: 0;
    background: rebeccapurple;
    display: flex;
} */

.dashboard .dashboard-content .new-quiz-form .new-quiz-info .spinners {
    display: flex;
    align-items: left;
    justify-content: start;
    overflow: auto;
    width: 100%;
}

.dashboard .dashboard-content .new-quiz-form ul {
    list-style-type: none;
    white-space: nowrap;
    overflow-x: auto;
}


/* .dashboard .dashboard-content .new-quiz-form .questions-list {
    display: flex;
    flex: 1;
    flex-direction: row;
} */

.dashboard .dashboard-content .new-quiz-form .content-questions ul {
    list-style-type: none;
    white-space: nowrap;
    overflow-x: auto;
    background-color: #0492D3;
    display: flex;
    width: 80%;
}

.dashboard .dashboard-content .new-quiz-form .questions-list .question {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0.1rem;
    border-radius: 0.4rem;
    background-color: white;
    box-shadow: 4px 4px 5px rgba(122, 122, 122, 0.6);
    width: 10rem;
}

.dashboard .dashboard-content .new-quiz-form .questions-list li {
    background-color: red;
}

.dashboard .dashboard-content .new-quiz-form .questions-list img {
    border-radius: 0;
    width: 100%;
    height: 6rem;
    border-radius: 0;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}


/*POPUP*/


/* The Modal (background) */

.modal {
    display: none;
    position: absolute;
    z-index: 1;
    padding-top: 10%;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4);
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid rgb(255, 255, 255);
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
    flex-direction: column;
}

.modal-content .modal-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: var(--primary);
    padding: 0.5rem 1rem;
    align-items: center;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.modal-content .modal-header h3,
.modal-content .modal-header span {
    color: white;
}

.modal-content .modal-body {
    width: 100%;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 0.5rem 1rem;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}